{
    "jsc": {
        "parser": {
            "syntax": "javascript",
            "tsx": false,
            "dynamicImport": true,
            "decorators": true
        },
        "transform": {
            "legacyDecorator": true,
            "decoratorMetadata": true
        },
        "target": "es2017",
        "externalHelpers": false,
        "keepClassNames": true,
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": false
        }
    },
    "module": {
        "type": "commonjs",
        "resolver": {
            "alias": {
                "@": "./src",
                "@config": "./src/config",
                "@controllers": "./src/controllers",
                "@databases": "./src/databases",
                "@dtos": "./src/dtos",
                "@exceptions": "./src/exceptions",
                "@interfaces": "./src/interfaces",
                "@middlewares": "./src/middlewares",
                "@models": "./src/models",
                "@routes": "./src/routes",
                "@services": "./src/services",
                "@utils": "./src/utils"
            }
        }
    }
}
