@import '@/styles/setup/variables';
@import '@/styles/setup/typography';

.welcomeContainer {
    display: flex;
    gap: 20px;

    .welcomeDiv {
        display: flex;
        flex-direction: column;

        .title {
            @include display-medium-36;
            text-align: right;
        }
        .text {
            color: $black;
            @include body-regular-14;
            text-align: right;
            line-height: 30px;
            letter-spacing: 0.5px;
            width: 560px;
        }
    }

    .imgDiv {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }
}
