@import '@/styles';

.dashboard :global {
    @include page-mixin;

    .main {
        @include box-mixin;
        padding: 32px;
        // font-family: $mainFont400;
        font-weight: bold;
        // font-size: $fontSizeDesktopXXL;
        // line-height: $fontSizeDesktopXXL;
        display: flex;
        gap: 20px;

        h1 {
            // font-size: $fontSizeDesktopXXL;
        }

        button {
            width: 8vw;
        }
    }
}
