.join-me {
    padding: 44px 40px;
    background-repeat: 'no-repeat';
    background-size: cover;
    width: 483px;
    height: 300px;
    direction: rtl;
    font-family: 'nunito-sans-extra-bold';
}
