@import '@/styles/setup/typography';

.our-services {
    .secondary-heading {
        @include title-medium-22;
        margin: 0 0 24px 0;
    }
    .tabs-wrapper {
        width: 1140px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
