.app-header {
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    padding: 7px 150px;
    nav {
        display: flex;
        width: 1140px;
        justify-content: space-between;
        align-items: center;
        section {
            display: flex;
            align-items: center;
            gap: 40px;
            height: 40px;
            ul {
                list-style-type: none;
                display: flex;
                gap: 40px;
            }
        }
    }
}
