@import './setup/fonts';
@import './setup/variables';
@import './setup/typography';

* {
    box-sizing: border-box;
    font-family: $main-font-Heebo, 'sans-serif';
    direction: rtl;
}

#root {
    min-width: 100vw;
}

html,
body {
    margin: 0;
    height: 100%;
    padding: 0;
}

.page-wrapper {
    margin: auto;
    max-width: 1140px;
    padding: 44px 0;
}

a {
    text-decoration: none;
}
